operator ALL=(ALL) NOPASSWD: /usr/bin/systemctl start {{ app_name }}
operator ALL=(ALL) NOPASSWD: /usr/bin/systemctl stop {{ app_name }}
operator ALL=(ALL) NOPASSWD: /usr/bin/systemctl restart {{ app_name }}
operator ALL=(ALL) NOPASSWD: /usr/bin/systemctl status {{ app_name }}
operator ALL=(ALL) NOPASSWD: /usr/bin/systemctl reload nginx
